#Editor
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Carpetas
components
projects

#ENV
.venv
__pycache__
page/__pycache__
info/__pycache__
projects/__pycache__
components/__pycache__